.header {
  display: flex;
  flex-wrap: wrap;
  background-color: #424242;
  width: 100%;
  height: 60px;
  z-index: 15;
  box-shadow: 0 3px 2px 0 rgba(158,184,209,.41);
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  position: fixed;
  top: 0;
}

.header__media {
  margin-left: 20px;
}

.header__actions {
  margin-right: 20px;
  position: relative;
}

.header__actions_icons {
  background: transparent;
}

.header__actions_icons:hover {
  cursor: pointer;
}

.header__actions_badge {
  position: fixed;
  font-size: 9px;
  background: #f44336;
  border-radius: 100%;
  padding: 4px;
  right: 10px;
  top: 7px;
  height: 10px;
  width: 10px;
  text-align: center;
  color: #fff;
}