.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row:not(:last-child) {
  margin-bottom: 16px;
}

.card {
  box-shadow: 0 2px 9px 0 rgba(158,184,209,.41);
  margin: 10px;
  border-radius: 5px;
}

.card__top {
  position: relative;
  text-align: center;
}

.card__media {
  height: 200px; 
  padding: 10px;
}

.card__media > img {
  height: inherit;
}

.card__info {
  padding: 10px;
  display: grid;
}

.card__info_section {
  margin-bottom: 8px;
  min-height: 33px;
}

.card__info_title {
  color: #424242;
  font-size: 16px;
  margin-bottom: 8px;
}

.card__info_label {
  margin: 0;
  font-size: 15px;
  color: #616161;
}

.card__info_label_old {
  text-decoration: line-through;
  font-size: 12px;
  color: #bdbdbd; 
  margin: 0;
}

.card__info_sizes {
  font-size: 14px;
  padding: 6px;
}

.card__info_sizes:hover:not(.disabled), .selected {
  border: 1px solid green;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.card__info_sizes:not(.disabled) {
  color: green;
}
.disabled {
  color: #e0e0e0;
  cursor: default;
}

@media (max-width: 1024px) {
  .card {
    display: flex;
    width: 90%;
    min-height: 265px;
    padding: 10px;
  }

  .card__badge {
    left: 0;
    right: auto;
  }
}